@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "header.scss";
@import "stories.scss";
@import "live.scss";
$marg:0 auto;
$fw:700;

*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


.main{
  margin-bottom: 30px;
  &__posts{
    border: 1px solid #C4C4C4;
    width: 640px;
    height: 60px;
    margin: $marg;
    display: flex;
  }
  &__logo-container{
    padding: 12px 16px 12px 24px;
  }
  &__text{
    display: flex;
    font-weight: $fw;
    justify-content: center;
    align-items: center;
  }

}

.post{
  height: 640px;
  width: 640px;
  border: 1px solid #C4C4C4;
  margin: $marg;
  display: flex;
}

.footer{
  height: 113px;
  width: 640px;
  border: 1px solid #C4C4C4;
  margin: $marg;
  &__likes{
    display: flex;
    align-items: center;
  }
  &__heart-img{
    padding: 24px 16px 16px 24px;
  }
  &__likes-number{
    font-weight: $fw;
  }
  &__text-near-number{
    font-weight: $fw;
    padding-left: 5px;
  }
  &__contant{
  }
  &__intellectfox{
    font-weight: $fw;
    padding: 0 16px 24px 24px;
  }
  &__name-of-post{

  }
}

